body {
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #ecff33;
  font-family: 'Nanum Pen Script', cursive;
}
.title {
  font-size: 7rem;
  color: #77c9ff;
}
.image {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}
.points {
  font-size: 4rem;
  color: #1c9a38;
}
.lv {
  font-size: 6rem;
  color: #9a1c4a;
  background-color: #ff9277;
  padding: 0 2rem;
  border-radius: 50%;
}
.icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.part-icon {
  margin: 1rem 0;
  margin-left: -200rem;
  width: 12rem;
  height: 12rem;
  transition: all 0.4s ease-in;
}
.part-icon:hover {
  transform: rotate(360deg);
}
.gift {
  animation: moving-icons 2s 0.2s forwards;
}
.fun {
  animation: moving-icons 2s 0.8s forwards;
}
.wish {
  animation: moving-icons 2s 1.4s forwards;
}
.number {
  background-color: #ffa533;
  padding: 0.5rem;
  border-radius: 2rem;
  color: #fff;
  width: 50%;
  margin: 3rem auto;
  font-size: 4rem;
  letter-spacing: 0.3rem;
}
.guess {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.go {
  font-size: 3rem;
  color: #666;
  background-color: #b492e8;
  padding: 1rem;
  border-radius: 50%;
  border: none;
  font-family: 'Nanum Pen Script', cursive;
}
.name {
  font-size: 4rem;
  border: none;
  border-bottom: 2px solid #666;
  width: 60%;
  padding-bottom: 1rem;
  text-align: center;
  margin: 2rem;
  font-family: 'Nanum Pen Script', cursive;
  background-color: #ecff33;
}
.name:focus {
  outline: 0;
}
.face {
  width: 8rem;
  height: 8rem;
}
.rights {
  font-size: 0.9rem;
  padding: 2rem;
}

@keyframes moving-icons {
  0% {
    margin-left: -200rem;
  }
  100% {
    margin-left: 0;
  }
}
